<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
<h1>Room list</h1>


<table border="1">
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th>Buy</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><button onclick="buyRoom()"></button></td>
    </tr>
</table>
</body>
</html>